data/BDC_2022_all_data.json
pass_model_5speeds.Rdata
*.Rhistory
pass_summary_sandbox.rmd
code/.Rhistory
.RData
.Rhistory
code/hockey_gif.R
*.gif
images/*.gif
.Rproj.user
Big-Data-Cup-2022-Private.Rproj
code/data_manipulation/Data_Clean_sandbox.ipynb
